%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=iso-8859-1" }
    %title= @title
    %link{:href => "/stylesheets/style.css", :type => "text/css", :rel => "stylesheet"}
  %body
    %div#page_wrapper
      %div#page_header
        %h1 whos.readingwhat.com
        %h2 Read, Share, Trade Your Books
      %div#menu_bar
        %ul
          %li
            %a Item one
          %li 
            %a Item two
          %li
            %a Item three
          %li
            %a Item four
          %li
            %a Item five
      %div#content_wrapper
        %div#left_side
          %img.float_right{:src => "/images/strawberries.jpg", :alt => "Strawberries"}
          %p <a>Lorem ipsum te invenire</a> assentior usu, viderer |
            ccusamus elaboraret te quo, usu at quas mutat. <a href="#"> |
            At vivendum adipiscing nec</a>, nec sale pericula ullamcorper |
            ea. Veritus adolescens expetendis vim at, tollit scripta usu eu. |
            Sea debet commune iracundia in. Sea no posse corrumpit, te elit |
            aperiri forensibus nam.Diam persequeris has ut. <a href="#">Dolorum</a> |
            volumus splendide cu mei, cu eros aliquyam praesent ius. Vix invidunt |
            voluptaria no, no cum dicat dolor. Ex ius aliquid eleifend, ei has |
            lorem viderer eripuit. |
          %div#feature_box
            %h4 Feature Box
            %p 
              Quas facilisi persecuti cum eu, ad qui vidit denique instructior. At 
              stet volumus usu. Ne modo quas appareat mea, et ius salutandi quaerendum 
              sadipscing, ad aperiam <a href="#">invenire interpretaris mei</a>. 
          %p 
            Prodesset reprimique pri ut, in elitr debitis persecuti sit, dolores 
            propriae suscipiantur pri ad. <a href="#">Melius nonummy facilis</a> 
            per no. Duo et adipisci vituperata, mea semper nusquam mediocritatem at, 
            eos saperet vulputate ullamcorper te. Aperiam legendos ut eos, et sit 
            inani propriae iudicabit, ea iusto habemus volumus vis.Pro at possit 
            dissentias, <a href="#">tale oratio</a> takimata ad vis. Vis an probo 
            nemore sensibus, menandri similique no duo. Pro ea audire appareat 
            adipiscing, tibique copiosae deseruisse no ius. Per patrioque consectetuer 
            an, simul repudiare delicatissimi ei eum. Alii quando dolore id sit. 
          
          %h3 Per Patrioque Consectetuer An Simul
          %p 
            <a href="#">Per noster accusata</a> mandamus an, facer partem definitionem 
            eam ea. Vix inermis repudiare in, <a href="#">deleniti</a> maluisset 
            rationibus sea te. <a href="#">Vis ne sale</a> partiendo persequeris. Vis 
            ei autem reformidans conclusionemque. Dicta summo vix ea.
            
          %p 
            Prodesset reprimique pri ut, in elitr debitis persecuti sit, dolores 
            propriae suscipiantur pri ad. <a href="#">Melius nonummy facilis</a> 
            per no. Duo et adipisci vituperata. Pro at possit dissentias, <a href="#">
            tale oratio</a> takimata ad vis. Vis an probo nemore sensibus, menandr 
            similique no duo.
          
          %p 
            <a href="#">Prodesset reprimique</a> pri ut, in elitr debitis persecuti sit, 
            dolores propriae suscipiantur pri ad. Melius nonummy facilis per no. Duo et 
            adipisci vituperata, mea semper nusquam mediocritatem at.
          
          %ul.arrow_list
            %li
              %a{:href => "#"} Melius nonummy facilis per no.
            %li
              %a{:href => "#"} Aperiam legendos ut eos, et sit inani propriae iudicabit.
            %li
              %a{:href => "#"} Melius nonummy facilis per no.
      
        %div#right_side
          %h3 Vis Sale Tiendo
          %p
            Per noster accusata <a href="#">mandamus</a> an, facer partem definitionem 
            eam ea. Vix inermis repudiare in, <a href="#">deleniti</a> maluisset 
            rationibus sea te. Vis ne sale partiendo persequeris. Vis ei autem reformidans 
            conclusionemque.
        
          %h3 Per Nos Accusata
          %ul.arrow_list
            %li
              %a{:href => "#"} Item one
            %li
              %a{:href => "#"} Item two
            %li
              %a{:href => "#"} Item three
            %li
              %a{:href => "#"} Item four
            %li
              %a{:href => "#"} Item five
          %p
            <a href="#">Per noster accusata mandamus</a> an, facer partem definitionem 
            eam ea. Vix inermis repudiare in, deleniti maluisset rationibus sea te. Vis 
            ne sale partiendo persequeris. Vis ei autem <a href="#">reformidans</a> 
            conclusionemque. 
      
          %h3 Menandri Similique
          %p
            Prodesset reprimique pri ut, in elitr debitis persecuti sit, dolores 
            propriae suscipiantur pri ad. <a href="#">Melius nonummy facilis</a> 
            per no. Duo et adipisci vituperata, mea semper nusquam mediocritatem at, 
            eos saperet vulputate ullamcorper te. Aperiam legendos ut eos, et sit 
            inani propriae iudicabit, ea iusto habemus volumus.
    
        %div#space/
  
    %div#page_footer
      %p
        \&copy; 2006 Darren Hester, DesignsByDarren.com, Some Rights Reserved.
        %br
        %a{:href => "http://validator.w3.org/check?uri=referer", :target => "_blank"} Valid XHTML 1.0 Transitional